body{
    background:#eff3f6;
}

.transferBox {
    border: 2px solid black;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 32%;
    text-align: right;
}

#caption {
    height: 5%;
}

label {
    float: left;
    margin-left: 15%;
}