<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div id="caption">Transfer</div>

<div id="transferBox">
    <form th:action="@{/transferpage}" th:object="${transfermodel}" method="post">
        <label>Sender's account</label>
        <input type="text" name="fromAccaunt" id="fromAccaunt"  class="field" th:field="*{fromAccaunt}"/> <br/><br/>

        <label>Rrecipient's account</label>
        <input type="text" name="toAccaunt" id="toAccaunt" class="field" th:field="*{toAccaunt}"/> <br/><br/>

        <label>Transfer amount</label>
        <input type="number" name="amountTransfer" id="amountTransfer" class="field" th:field="*{amountTransfer}"/> ₽

        <input type="submit" value="Transfer" id="submit"/>

    </form>
</div>

<br/>
<a href="/customerlist" methods="GET" id="refcustomers">View all customers</a>

</body>
</html>